$mobile: 320px;
$tablet: 960px;
$desktop: 1280px;

@mixin respond-to($media) {
    @if $media == small-mobile {
        @media (max-width: $mobile) {
            @content;
        }
    } @else if $media == mobile {
        @media (min-width: $mobile) {
            @content;
        }
    } @else if $media == tablet {
        @media (min-width: $tablet) {
            @content;
        }
    } @else if $media == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}
// overide css reactstrap
.pokemon-info__container {
    margin-top: calc(var(--height-header) - 10px);
    height: fit-content;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../assets/background3.jpg);
    background-size: 50%;
    color: #fff;
    font-weight: 700;
    .name-pc {
        @include respond-to(mobile) {
            display: block;
            font-size: 2rem;
        }
        @include respond-to(tablet) {
            @include respond-to(desktop) {
                display: none;
            }
        }
        .bi-heart-fill {
            @include respond-to(mobile) {
                width: 36px;
                height: 36px;
            }
        }
    }
    .navbar-control {
        .name-pc {
            @include respond-to(mobile) {
                display: none;
            }
            @include respond-to(tablet) {
                @include respond-to(desktop) {
                    display: block;
                }
            }
        }
        .col-md-4,
        .col-lg-4 {
            @include respond-to(tablet) {
                @include respond-to(desktop) {
                    font-size: 2rem;
                }
            }

            .btn {
                &.btn {
                    @include respond-to(tablet) {
                        @include respond-to(desktop) {
                            font-weight: 700;
                        }
                    }
                }
                &.btn:hover {
                    background-color: #007bff;
                }
            }
            .bi-heart-fill {
                @include respond-to(mobile) {
                    width: 16px;
                    height: 16px;
                }
                @include respond-to(tablet) {
                    @include respond-to(desktop) {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }
    .pokemon-info__img {
        & > img {
            width: 100%;
        }
    }
    .pokemon-info__box {
        width: 100%;
        height: fit-content;
        background-color: #30a7d7;

        padding: 28px;
        font-size: 1.5rem;
        border-radius: 8px;
        margin: 4px 0;
        .row-flex {
            display: flex;
            justify-content: space-between;
        }
    }
    .pokemon-stats__box {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
        background-color: rgb(141, 141, 141);

        padding: 28px;
        border-radius: 8px;
        font-size: 1.5rem;
        margin: 4px 0;
        .progress {
            --bs-gutter-x: 0rem;
        }
    }
}
.spinner-border {
    &.spinner {
        height: 16rem;
        width: 16rem;
    }
}
.breadcrumb {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 4px;
    .breadcrumb-item {
        padding: 4px 12px;
    }
    .breadcrumb-item:hover {
        cursor: pointer;
        color: #007bff;
    }
    .breadcrumb-item.active {
        color: #007bff;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        float: left;
        padding-right: 0.5rem;
        color: #fff;
        content: var(--bs-breadcrumb-divider, "/");
    }
}
// override style

.bi-heart-fill {
    &.bi-heart-fill {
        margin: 0 16px;
    }
    &.bi-heart-fill:hover {
        cursor: pointer;
        color: rgb(220, 53, 69);
    }
}
.toast {
    &.toast {
        position: absolute;
        animation: fade-in 1.5s;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(-40px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
