h5.modal-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    span {
        font-size: 2rem;
        font-weight: 800;
        background-clip: text;
        background: -webkit-linear-gradient(150deg, #333 20%, aqua 80%, #333 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}