.navbar-toggler {
    display: none;
}

@media (min-width: 376px) and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .nav {
        &.nav {
            display: none;
        }
    }
}
