$mobile: 320px;
$tablet: 960px;
$desktop: 1280px;

@mixin respond-to($media) {
    @if $media == small-mobile {
        @media (max-width: $mobile) {
            @content;
        }
    } @else if $media == mobile {
        @media (min-width: $mobile) {
            @content;
        }
    } @else if $media == tablet {
        @media (min-width: $tablet) {
            @content;
        }
    } @else if $media == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}
.pokedex-container {
    margin: var(--height-header) auto;
}
.pokemon-container {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    padding-top: 70px;
    .empty {
        height: calc(60vh - var(--height-header));
    }
    .poke-thumballs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        .card-pokeball {
            display: flex;
            position: relative;
            width: 300px;
            height: 300px;
            margin: 12px;
            border-radius: 50%;
            transition: animation 0.2s ease-in-out;
            .pokeball {
                position: relative;
                width: 100%;
                height: 100%;
                background: #fff;
                border: 10px solid #000;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: inset -10px 10px 0 10px #ccc;
            }
            .pokeball::before,
            .pokeball::after {
                content: "";
                position: absolute;
            }
            .pokeball::before {
                background: red;
                width: 100%;
                height: 50%;
            }
            .pokeball[data-foo]::before {
                content: attr(data-foo);
                font-size: 20px;
                font-weight: 800;

                letter-spacing: 2px;
                -webkit-text-stroke: 1px black;
                text-align: center;
                padding-top: 68px;
            }
            .pokeball::after {
                top: calc(50% - 10px);
                width: 100%;
                height: 20px;
                background: #000;
            }
            .pokeball__button {
                position: absolute;
                top: calc(50% - 30px);
                left: calc(50% - 30px);
                width: 60px;
                height: 60px;
                background: #aeb5b6;
                border: 10px solid #fff;
                border-radius: 50%;
                z-index: 10;
                box-shadow: 0 0 0 10px black;
                .card-poke__img {
                    position: relative;
                    left: -30px;
                    top: 60px;
                    width: 70px;
                    height: 70px;
                    z-index: 9999;
                }
            }
        }
        .card-pokeball:hover {
            cursor: pointer;
            animation: shake 1.5s ease-in infinite;
            .pokeball__button {
                animation: blink 0.75s infinite;
            }
        }
        @keyframes blink {
            from {
                background: #eee;
            }
            to {
                background: #e74c3c;
            }
        }
        @keyframes shake {
            0% {
                transform: rotate(5deg);
            }
            5% {
                transform: rotate(-5deg);
            }
            10% {
                transform: rotate(5deg);
            }
            15% {
                transform: rotate(-5deg);
            }
            20% {
                transform: rotate(5deg);
            }
            25% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        .btnLoadMore {
            position: absolute;
            bottom: -100px;
            width: 30%;
            padding: 12px;
            margin: 0 auto;

            background-color: rgb(23, 121, 121);
            font-size: 1.7rem;
            font-weight: 800;
            -webkit-text-stroke: 0.5px #fff;
            letter-spacing: 5px;

            border-radius: 16px;
            z-index: 100;
            @include respond-to(mobile) {
                bottom: -50px;
                width: 50%;
                font-size: 1rem;
                -webkit-text-stroke: 1px #fff;
                letter-spacing: 4px;
            }
        }
    }
}
